<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/scss/style.css">
</head>
<body>
    <h1>sssss</h1>
    <%= dataConver %>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    <div>
         <p>List User</p>
         <table>
           <tr>
             <th>id</th>
             <th>first name</th>
             <th>last name</th>
             <th>email</th>
             <th>address</th>
             <th>action</th>
           </tr>
           <% for(let i=0; i < dataUser.length; i++) { %>
           <tr>
             <td><%= dataUser[i].id %></td>
             <td><%= dataUser[i].firstName %></td>
             <td><%= dataUser[i].lastName %></td>
             <td><%= dataUser[i].email %></td>
             <td><%= dataUser[i].address %></td>
             <td style="display: flex">
                <a href="/detail/user/<%= dataUser[i].id %>">
                    <button type="button">detail</button>
                </a>
                 <form action="/edit-user/<%= dataUser[i].id %>" method="GET">
                     <button type="submit">edit</button>
                 </form>
                 <form action="/delete-user" method="POST">
                     <input name="userId" type="text" hidden value="<%= dataUser[i].id %>">
                     <button type="submit">delete</button>
                 </form>
             </td>
           </tr>
            <% } %>
         </table>
         <div class="create-user-container">
            <div class="create-user-main">
                <b>Create User</b>
                <form action="/create_user" method="POST">
                    <div>
                        <span>First Name</span>
                        <input name="firstName" type="text" />
                    </div>
                    <div>
                        <span>Last Name</span>
                        <input name="lastName" type="text" />
                    </div>
                    <div>
                        <span>Email</span>
                        <input name="email" type="text" />
                    </div>
                    <div>
                        <span>Address</span>
                        <input name="address" type="text" />
                    </div>
                    <button class="button-submit" type="submit">Submit</button>
                </form>

            </div>
         </div>
    </div>
</body>
</html>